#flight-search-page label {
    font-size: 1em;
    font-weight: bold;
}

#flight-search-form {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#flights-found {
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 0em 0.3em rgb(180, 180, 180);
    margin: 2em;
}

#flights-found > * {
    border-bottom: 2px solid rgb(180, 180, 180);
}

#flights-found > :last-child {
    border-bottom: none;
}

.page-selector {
    font-size: 1em;
    margin: 0.5em;
    padding: 0.7em;
    border: none;
    border-radius: 2em;
    font-weight: bold;
}
